/* $Id: forms.css,v 1.3 2008/09/08 18:55:01 jmburnz Exp $ */

/* forms.css
   Default styling for forms */

form {
  margin: 0 0 1em 0;
}

input.text, 
input.title,
textarea, 
select {
  margin:0.0em 0;
  border:1px solid #C0C0C0;
}

input.text:focus, 
input.title:focus,
textarea:focus, 
select:focus {
  border:1px solid #666;
}

input.text, 
input.title { 
  padding:5px; 
}

input.title { 
  font-size:1.5em; 
}

div.error, 
tr.error, 
span.form-required, 
span.marker {
  color: #8A1F11;
}

.form-item input.error, 
.form-item textarea.error, 
.form-item select.error {
  color: #8A1F11;
  background: #FFCCCC;
  border: 1px solid #DD7777;
}

div.form-item div.description img {
  margin: 0;
}

input.form-text, 
textarea {
  padding: 0.2em;
  border: 1px solid #CCC;
}

textarea, 
input {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
  vertical-align:text-bottom;
}

div.form-item {
  margin-bottom: 1.5em;
  margin-top: 1.5em;
}

.form-item strong.error {
  display: block;
}

.form-item textarea.error {
  padding: 0.2em;
}

.form-item .description {
  font-size: 0.9em;
  line-height: 1.667em;
}

form .form-submit { margin-top: 0.5em; }

label { 
  font-weight: bold; 
}

#node-admin-filter ul {
  padding: 0.4em 0;
}

#edit-operation-wrapper select {
  margin: 0.4em ;
}

textarea {
  line-height: 1.5em;
  height: auto;
  padding:3px;
}

div.resizable-textarea textarea {
  margin-top: 0;
}

/* @group Fieldsets */
/* Don't apply padding to the fieldsets */
fieldset,
fieldset fieldset {
  padding: 0;
  margin: 1.3em 0;
}
/**
 * Collapsed Fieldset
 * Don't want any padding, additional margins, borders
 * or background colors because the fieldset is collapsed.
 */
fieldset.collapsed {
  border: none;
  margin-bottom: 1.5em!important;
}
/**
 * Expanded & Regular (not collapsible) Fieldset
 * Applying required fieldset styles here.
 */
fieldset.collapsible:not(.collapsed),
fieldset:not(.collapsible) {
  /*background: #fff url('images/bg-shade-white-lrg.png') repeat-x bottom left;*/
  border: solid 1px #005858;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
}
html.js fieldset:not(.collapsible) legend {
  padding: 0;
  margin-left: 1.25em;
}
/**
  * Padding is being applied to wrappers as opposed to the
  * fieldsets themselves.  Some Drupal forms have a
  * div.fieldset-wrapper, and some don't so we've overridden
  * theme_fieldset() to make sure there is always one, and
  * here we back out of the padding when 2 are present.
 */
fieldset .fieldset-wrapper {
  padding: 1.3em;
  margin: 0;
  display: block;
}
fieldset .fieldset-wrapper .fieldset-wrapper {
  padding: 0;
}
/* Padding inside nested fieldsets still needs to happen */
fieldset .fieldset-wrapper fieldset .fieldset-wrapper {
  padding: 1em;
  margin: 0;
}
/* Avoid scrollbars */
html.js fieldset.collapsible .fieldset-wrapper {
  overflow: visible;
}
/* @group Legends */
/* Regular & Common Legend Styles */
fieldset legend {
  font-size: 1em;
  font-weight: bold;
}
fieldset legend a,
fieldset legend a:active,
fieldset legend a:focus,
fieldset legend a:visited {
  text-decoration: none;
}
html.js fieldset.collapsible legend a {
  background: transparent url('images/sprites-sky.png') no-repeat;
  padding: 0 0 0 1.5em;
}
/* Expanded Legend */
html.js fieldset.collapsible legend {
  margin-left: 1.5em;
}
html.js fieldset.collapsible legend a {
  background-position: -266px -250px;
}
/* Collapsed Legend */
html.js fieldset.collapsed legend {
  margin-left: 0;
}
html.js fieldset.collapsed legend a {
  background-position: -266px -516px;
}
/* @end */

.tips {
  font-size:1em;
  margin-left:3em;
  padding: 1px 3px 1px 16px;
}
