/* $Id: translation-table-admin-rtl.css,v 1.1.2.2 2009/05/26 05:19:59 pasqualle Exp $ */

#translation-table-menu-form #language-filter,
#translation-table-nodetype-form #language-filter,
#translation-table-taxonomy-form #language-filter {
  float: right;
}

#translation-table-taxonomy-form #edit-vid-wrapper {
  margin-right: 30px;
  float: right;
}

#translation-table-nodetype-form #edit-node-type-wrapper {
  margin-right: 30px;
  float: right;
}

#translation-table-menu-form #edit-filter,
#translation-table-nodetype-form #edit-filter,
#translation-table-taxonomy-form #edit-filter {
  float: right;
}
