body {
  color: #292929;		/* font color */
  background: #adadad url(../images/blue/bg.png) 0 0 repeat-x;
}

a:link,
a:visited,
a:hover,
.title, .title a,
.submitted,
.links,
.node .taxonomy,
#aggregator .news-item .categories, #aggregator .source, #aggregator .age,
#forum td .name,
div.admin-panel .description {
  color: #104A91;
}

div#section1 {
	background: #104A91 url(../images/blue/topregion-bg.png) 0 0 repeat-x;
}


div#section1 .contentheading,
div#section1 div.moduletable h3,
div#section1 {
	color: #F0F0F0;
}

div#section1 .title {
   color: #fff;
}

div#section1 a,
div#section1 a:link,
div#section1 a:visited {
   color: #FFCD06;
}

div#section1 a.readon,
div#section1 a:visited.readon,
div#section1 a:hover.readon {
	background: #9BB3D1;
	color: #B61C1E;
}


div#section2 {
	background: #170808 url(../images/blue/bottomregion-bg.png) 0 0 repeat-x;
   color: #fff;
}

div#section2 .title {
   color: #fff;
}

div#section2 .contentheading,
div#section2 div.moduletable h3,
div#section2 {
	color: #DEDEDE;
}

div#section2 a,
div#section2 a:link,
div#section2 a:visited {
   color: #FFCD06;
}

div#section2 a.readon,
div#section2 a:visited.readon,
div#section2 a:hover.readon {
	background: #fff;
	color: #170808;
}

div#masthead {
	background: #170808 url(../images/blue/mast-bg.png) 0 0 repeat-x;
}

div#header .header-right {
	background:  url(../images/blue/mast-r.png) 100% 0 no-repeat;
}

div#header .header-left {
	background:  url(../images/blue/mast-l.png) 0 0 no-repeat;
}

div#footer-wrapper {
	background: #170808 url(../images/blue/footer-bg.png) 0 0 repeat-x;
}

div#footer-wrapper .footer-right {
	background:  url(../images/blue/footer-r.png) 100% 0 no-repeat;
}

div#footer-wrapper .footer-left {
	height: 15px;
	overflow: hidden;
	background:  url(../images/blue/footer-l.png) 0 0 no-repeat;
}


div#breadcrumb,
div#breadcrumb a {
  color: #104A91;
}

div#middlecontainer {
  background: #ffffff url(../images/blue/body-bg.png) 0 0 repeat-x;
}

div#middlecontainer a,
div#middlecontainer a:link,
div#middlecontainer a:visited {
   color: #104A91;
}

div#middlecontainer a.readon,
div#middlecontainer a:visited.readon,
div#middlecontainer a:hover.readon {
	background: #104A91;
	color: #fff;
}

div#middlecontainer .title,
div#middlecontainer h2 {
	color: #104A91;
}

#header .block  {
	color: #fff;
}

#header .block a {
	color: #FFCD06;
}

#header .block h2, #header .block h2.title {
	color: #fff;
}
	
#footer-region {
  background-color: #170808; 
}
#footer-region .block  {
	color: #fff;
}

#footer-region .block a {
	color: #FFCD06;
}

#footer-region .block h2, #footer .block h2.title {
	color: #fff;
}
	

#footer {
  background-color: #170808; 
  color:#FFFFFF;
}
  
#footer a {
  color: #adadad;
}
  
/* Menu styles */

div#navigation {
  background: #292929 url(../images/blue/menu-bg.png) repeat-x;
}

#primary a {
  border-right: #999 solid 1px;
  color: white;
}

#primary a:hover,
#primary a.active {
  color: #fff;
  background: url(../images/blue/menu-bg-over.png) repeat-x;
  border-right: #999 solid 1px;
}

#secondary {
  border-top:1px solid #292929;
}

#secondary li a {
  color: white;
  background: url(../images/blue/menu-div.png) 100% 0 repeat-y;
}

#secondary a:hover {
  color: white;
  background-color: #555555;
}

#mission {
  border: solid 1px #104A91;
  color: #000;
}

#mission a, #mission a:visited {
  color: #104A91;
}

#site-name a, #site-name a:hover {
  color: #fff;
}

#site-slogan {
  color: #fff; 
}

#search .form-text, #search .form-submit {
  border: 1px solid #000;
}

.comment {
  border: 1px solid #104A91;
}

.comment .picture {
  border: 1px solid #104A91;
}

#profile .profile {
  border: 1px solid #104A91;
}

/* box */
.boxborder { background:url(../images/blue/box-right.gif) 100% 0 repeat-y; }
.bi { background:url(../images/blue/box-left.gif) 0 0 repeat-y; }
.bt { background:url(../images/blue/box.gif) 100% 0 no-repeat; }
.bt div { background:url(../images/blue/box.gif) 0 0 no-repeat; }
.bb { background:url(../images/blue/box.gif) 100% 100% no-repeat; }
.bb div { background:url(../images/blue/box.gif) 0 100% no-repeat; }

/* block theme styles */
.color0-box-page-bg { background: #fff; }
.color1-box-page-bg { background: #FFCD06;  color:#000; }
.color2-box-page-bg { background:#104A91; color:#E1E0C6; }
div#middlecontainer .color2-box-page-bg .title, div#middlecontainer .color2-box-page-bg h2 {color:#fff;}
div#middlecontainer .color2-box-page-bg a, div#middlecontainer .color2-box-page-bg a:link, div#middlecontainer .color2-box-page-bg a:visited { color:#FFCD06; }
.color3-box-page-bg { background: #000;  color:#fff; }
div#middlecontainer .color3-box-page-bg a, div#middlecontainer .color3-box-page-bg a:link, div#middlecontainer .color3-box-page-bg a:visited { color:#FFCD06; }
#sidebar-left .color3-box-page-bg h2, #sidebar-right .color3-box-page-bg h2 { color: #FFCD06; }

.stripe0-box-page-bg { background: #fff; }
#sidebar-left .stripe0-box-page-bg h2, #sidebar-right .stripe0-box-page-bg h2 { border-top: 1px solid #000; border-bottom: 1px solid #000;}
.stripe1-box-page-bg { background: #FFCD06;  color:#000; }
#sidebar-left .stripe1-box-page-bg h2, #sidebar-right .stripe1-box-page-bg h2 { color: #000; border-top: 1px solid #000; border-bottom: 1px solid #000; } 
.stripe2-box-page-bg { background:#104A91; color:#E1E0C6; }
#sidebar-left .stripe2-box-page-bg h2, #sidebar-right .stripe2-box-page-bg h2 { border-top: 1px solid #fff; border-bottom: 1px solid #fff; color: #fff; }
div#middlecontainer .stripe2-box-page-bg a, div#middlecontainer .stripe2-box-page-bg a:link, div#middlecontainer .stripe2-box-page-bg a:visited { color:#FFCD06; }
.stripe3-box-page-bg { background: #000;  color:#fff; }
div#middlecontainer .stripe3-box-page-bg a, div#middlecontainer .stripe3-box-page-bg a:link, div#middlecontainer .stripe3-box-page-bg a:visited { color:#FFCD06; }
#sidebar-left .stripe3-box-page-bg h2, #sidebar-right .stripe3-box-page-bg h2 { border-top: 1px solid #fff; border-bottom: 1px solid #fff; color: #FFCD06; }

.blk-outline1 { border: 1px solid #fff; }
.blk-outline1 h2, .blk-outline1 a { color: #fff; }
.blk-outline2 { border: 1px solid #FFCD06;, color: #FFCD06; }
.blk-outline2 h2, .blk-outline2 a { color: #FFCD06; }
.blk-outline3 { border: 1px solid #000; }
.blk-outline3 h2, .blk-outline3 a { color: #000; }
div#section2 .blk-outline3 { border: 1px solid #104A91; }
div#section2 .blk-outline3 h2, .blk-outline3 a { color: #104A91; }


.blk-solid1 { background: #fff;  color:#000; }
.blk-solid1 a { color:#104A91; }
div#section1 .blk-solid1 a, div#section1 .blk-solid1 a:link, div#section1 .blk-solid1 a:visited { color:#104A91; }
div#section2 .blk-solid1 a, div#section2 .blk-solid1 a:link, div#section2 .blk-solid1 a:visited { color:#104A91; }
.blk-solid2 { background: #FFCD06;  color:#000; }
.blk-solid2 a { color:#fff; }
div#section1 .blk-solid2 a, div#section1 .blk-solid2 a:link, div#section1 .blk-solid2 a:visited { color:#104A91; }
div#section2 .blk-solid2 a, div#section2 .blk-solid2 a:link, div#section2 .blk-solid2 a:visited { color:#104A91; }
.blk-solid3 { background: #000;  color:#fff; }
.blk-solid3 a { color:#FFCD06; }
div#section2 .blk-solid3 { background: #104A91;  color:#fff; }
div#section2 .blk-solid3 h2, .blk-solid3 a { color: #FFCD06; }


