body {
  color: #292929;		/* font color */
  background: #adadad url(../images/green/bg.png) 0 0 repeat-x;
}

a:link,
a:visited,
a:hover,
.title, .title a,
.submitted,
.links,
.node .taxonomy,
#aggregator .news-item .categories, #aggregator .source, #aggregator .age,
#forum td .name,
div.admin-panel .description {
  color: #047504;
}

div#section1 {
	background: #41b61c url(../images/green/topregion-bg.png) 0 0 repeat-x;
}


div#section1 .contentheading,
div#section1 div.moduletable h3,
div#section1 {
	color: #F0F0F0;
}

div#section1 .title {
   color: #fff;
}

div#section1 a,
div#section1 a:link,
div#section1 a:visited {
   color: #A8FFa2;
}

div#section1 a.readon,
div#section1 a:visited.readon,
div#section1 a:hover.readon {
	background: #9BB3D1;
	color: #B61C1E;
}


div#section2 {
	background: #170808 url(../images/green/bottomregion-bg.png) 0 0 repeat-x;
	color: #fff;
}

div#section2 .title {
   color: #fff;
}

div#section2 .contentheading,
div#section2 div.moduletable h3,
div#section2 {
	color: #DEDEDE;
}

div#section2 a,
div#section2 a:link,
div#section2 a:visited {
   color: #9EFBA0;
}

div#section2 a.readon,
div#section2 a:visited.readon,
div#section2 a:hover.readon {
	background: #fff;
	color: #081708;
}

div#masthead {
	background: #170808 url(../images/green/mast-bg.png) 0 0 repeat-x;
}

div#header .header-right {
	background:  url(../images/green/mast-r.png) 100% 0 no-repeat;
}

div#header .header-left {
	background:  url(../images/green/mast-l.png) 0 0 no-repeat;
}

div#footer-wrapper {
	background: #170808 url(../images/green/footer-bg.png) 0 0 repeat-x;
}

div#footer-wrapper .footer-right {
	background:  url(../images/green/footer-r.png) 100% 0 no-repeat;
}

div#footer-wrapper .footer-left {
	height: 15px;
	overflow: hidden;
	background:  url(../images/green/footer-l.png) 0 0 no-repeat;
}


div#breadcrumb,
div#breadcrumb a {
  color: #41B61C;
}

div#middlecontainer {
  background: #ffffff url(../images/green/body-bg.png) 0 0 repeat-x;
}

div#middlecontainer a,
div#middlecontainer a:link,
div#middlecontainer a:visited {
   color: #039203;
}

div#middlecontainer a.readon,
div#middlecontainer a:visited.readon,
div#middlecontainer a:hover.readon {
	background: #047504;
	color: #fff;
}

div#middlecontainer .title,
div#middlecontainer h2 {
	color: #166F00;
}

#header .block  {
	color: #fff;
}

#header .block a {
	color: #A8FFA2;
}

#header .block h2, #header .block h2.title {
	color: #fff;
}
	
#footer-region {
  background-color: #170808; 
}
#footer-region .block  {
	color: #fff;
}

#footer-region .block a {
	color: #A8FFA2;
}

#footer-region .block h2, #footer .block h2.title {
	color: #fff;
}
	

#footer {
  background-color: #170808; 
  color:#FFFFFF;
}
  
#footer a {
  color: #adadad;
}
  
/* Menu styles */

div#navigation {
  background: #292929 url(../images/green/menu-bg.png) repeat-x;
}

#primary a {
  border-right: #999 solid 1px;
  color: #fff;
}

#primary a:hover,
#primary a.active {
  color: #fff;
  background: url(../images/green/menu-bg-over.png) repeat-x;
  border-right: #999 solid 1px;
}

#secondary {
  border-top:1px solid #292929;
}

#secondary li a {
  color: white;
  background: url(../images/green/menu-div.png) 100% 0 repeat-y;
}

#secondary a:hover {
  color: white;
  background-color: #555555;
}

#mission {
  border: solid 1px #047504;
  color: #000;
}

#mission a, #mission a:visited {
  color: #41B61C;
}

#site-name a, #site-name a:hover {
  color: #fff;
}

#site-slogan {
  color: #fff; 
}

#search .form-text, #search .form-submit {
  border: 1px solid #000;
}

.comment {
  border: 1px solid #41B61C;
}

.comment .picture {
  border: 1px solid #41B61C;
}

#profile .profile {
  border: 1px solid #41B61C;
}

/* box */
.boxborder { background:url(../images/green/box-right.gif) 100% 0 repeat-y; }
.bi { background:url(../images/green/box-left.gif) 0 0 repeat-y; }
.bt { background:url(../images/green/box.gif) 100% 0 no-repeat; }
.bt div { background:url(../images/green/box.gif) 0 0 no-repeat; }
.bb { background:url(../images/green/box.gif) 100% 100% no-repeat; }
.bb div { background:url(../images/green/box.gif) 0 100% no-repeat; }


/* block theme styles */
.color0-box-page-bg { background: #fff; }
.color1-box-page-bg { background: #A8FFA2;  color:#000; }
.color2-box-page-bg { background:#41B61C; color:#E1E0C6; }
div#middlecontainer .color2-box-page-bg .title, div#middlecontainer .color2-box-page-bg h2 {color:#fff;}
div#middlecontainer .color2-box-page-bg a, div#middlecontainer .color2-box-page-bg a:link, div#middlecontainer .color2-box-page-bg a:visited { color:#A8FFA2; }
.color3-box-page-bg { background: #000;  color:#fff; }
div#middlecontainer .color3-box-page-bg a, div#middlecontainer .color3-box-page-bg a:link, div#middlecontainer .color3-box-page-bg a:visited { color:#A8FFA2; }
#sidebar-left .color3-box-page-bg h2, #sidebar-right .color3-box-page-bg h2 { color: #A8FFA2; }

.stripe0-box-page-bg { background: #fff; }
#sidebar-left .stripe0-box-page-bg h2, #sidebar-right .stripe0-box-page-bg h2 { border-top: 1px solid #000; border-bottom: 1px solid #000;}
.stripe1-box-page-bg { background: #A8FFA2;  color:#000; }
#sidebar-left .stripe1-box-page-bg h2, #sidebar-right .stripe1-box-page-bg h2 { color: #000; border-top: 1px solid #000; border-bottom: 1px solid #000; } 
.stripe2-box-page-bg { background:#41B61C; color:#E1E0C6; }
#sidebar-left .stripe2-box-page-bg h2, #sidebar-right .stripe2-box-page-bg h2 { border-top: 1px solid #fff; border-bottom: 1px solid #fff; color: #fff; }
div#middlecontainer .stripe2-box-page-bg a, div#middlecontainer .stripe2-box-page-bg a:link, div#middlecontainer .stripe2-box-page-bg a:visited { color:#A8FFA2; }
.stripe3-box-page-bg { background: #000;  color:#fff; }
div#middlecontainer .stripe3-box-page-bg a, div#middlecontainer .stripe3-box-page-bg a:link, div#middlecontainer .stripe3-box-page-bg a:visited { color:#A8FFA2; }
#sidebar-left .stripe3-box-page-bg h2, #sidebar-right .stripe3-box-page-bg h2 { border-top: 1px solid #fff; border-bottom: 1px solid #fff; color: #A8FFA2; }

.blk-outline1 { border: 1px solid #fff; }
.blk-outline1 h2, .blk-outline1 a { color: #fff; }
.blk-outline2 { border: 1px solid #A8FFA2;, color: #A8FFA2; }
.blk-outline2 h2, .blk-outline2 a { color: #A8FFA2; }
.blk-outline3 { border: 1px solid #000; }
.blk-outline3 h2, .blk-outline3 a { color: #000; }
div#section2 .blk-outline3 { border: 1px solid #41B61C; }
div#section2 .blk-outline3 h2, .blk-outline3 a { color: #41B61C; }


.blk-solid1 { background: #fff;  color:#000; }
.blk-solid1 a { color:#41B61C; }
div#section1 .blk-solid1 a, div#section1 .blk-solid1 a:link, div#section1 .blk-solid1 a:visited { color:#41B61C; }
div#section2 .blk-solid1 a, div#section2 .blk-solid1 a:link, div#section2 .blk-solid1 a:visited { color:#41B61C; }
.blk-solid2 { background: #A8FFA2;  color:#000; }
.blk-solid2 a { color:#fff; }
div#section1 .blk-solid2 a, div#section1 .blk-solid2 a:link, div#section1 .blk-solid2 a:visited { color:#41B61C; }
div#section2 .blk-solid2 a, div#section2 .blk-solid2 a:link, div#section2 .blk-solid2 a:visited { color:#41B61C; }
.blk-solid3 { background: #000;  color:#fff; }
.blk-solid3 a { color:#A8FFA2; }
div#section2 .blk-solid3 { background: #41B61C;  color:#fff; }
div#section2 .blk-solid3 h2, .blk-solid3 a { color: #A8FFA2; }


