#squeeze {
  float: left;
	display: inline;
	overflow: hidden;
}

#main {
  overflow: hidden;
  display: inline;
}

#sidebar-left, #sidebar-right {
  overflow: hidden;
  display: inline;
}

body.sidebar-left #main {
  position: relative;
}

body.sidebar-right #main {
  position: relative;
}

body.sidebars #main {
  position: relative;
}

