/* $Id: newswire_custom-gray.css,v 1.1 2008/08/21 21:59:27 jmburnz Exp $ */

/*****************************

  Newswire Custom Gray styles.css
  Theme by AdaptiveThemes.com
  
  Modify to suit your own colours!
  
  Search and replace these two colours
  to create your own look.
  #666    dark gray
  #999    medium gray
  
  Dont touch these if you want the 
  default gray blocks and highlights.
  #222    very dark gray
  #CCC    light gray
  #EEE    silver
  #FFF    white
  #f7f7f7 light silver

******************************/

/*** Site slogan ***/
.branding em {
  color: #999;
}

/*** Search Box Top ***/
#search-box-top #edit-search-theme-form-1 {
  color: #999;
  border-color: #666;
}

#block-search-0 .form-submit,
#search .form-submit {
  color: #FFF;
  background-color: #999;
  border: 1px solid #666; 
}

/*** Primary Menu Links  ***/
#main-navigation { 
  background: #999;
}

#primary-menu {
  border-left: 15px solid #666;  
}

#primary-menu ul.links li a {
  color: #FFF;
  background: #999;
}

#primary-menu ul.links li a:hover {
  color: #FFF;
  background: #666;
}

/*** Secondary Menu Links ***/
#secondary-menu { 
  border-bottom: 2px solid #999; 
}

#secondary-menu ul.links li a:link,
#secondary-menu ul.links li a:visited,
#secondary-menu ul.links li a:active {
  color: #999;
}

#secondary-menu ul.links li {
   border-right: 1px solid #F7F7F7;
}

/*** Suckerfish drop menus ***/
#suckerfish {
  border-left: 15px solid #666;  
}

#suckerfish .block .content {
  padding: 0;
}

#suckerfish a { 
  background: #999; 
  color: #FFF;
}

#suckerfish a:active, 
#suckerfish a:hover   { 
  background: #666; 
  color: #FFF;
}

#suckerfish ul.menu li li a:link, 
#suckerfish ul.menu li li a:visited { 
  color: #FFF; 
  background: #999; 
}

#suckerfish ul.menu li li { 
}

#suckerfish ul.menu li ul a { 
  color: #FFF;
  border-bottom: 1px solid #666; 
}

#suckerfish ul.menu li ul a:active, 
#suckerfish ul.menu li ul a:hover { 
  color: #666; 
  background: #F7F7F7; 
}

#suckerfish ul.menu li li.expanded a { 
  background: #999; 
}

#suckerfish ul.menu li li.expanded a:active, 
#suckerfish ul.menu li li.expanded a:hover { 
  background: #F7F7F7; 
}

#suckerfish ul.menu li ul a:active, 
#suckerfish ul.menu li ul a:hover { 
  background: #F7F7F7;
  text-decoration: none;  
}

#suckerfish ul.menu li li.expanded ul.menu a { 
  background: #999; 
}

#suckerfish ul.menu li li.expanded ul.menu a:active, 
#suckerfish ul.menu li li.expanded ul.menu a:hover { 
  background: #F7F7F7; 
}

#suckerfish ul.menu li li.expanded ul.menu li.expanded a { 
  background: #999; 
}

#suckerfish ul.menu li li.expanded ul.menu li.expanded a:active, 
#suckerfish ul.menu li li.expanded ul.menu li.expanded a:hover { 
  background: #F7F7F7;
}

/*** The Main Columns 
     Column specific styles ***/

/*** Column 2 ***/
#content h1.category {
  background: #f7f7f7; 
  border: 1px solid #CCC;
}

#content h1.category em {
  color: #999;
  background: #f7f7f7; 
}

#content h1.category span {
  color: #222;
}

/*** Column 3 ***/
#right_2 { 
  background: #F7F7F7; 
  border: 1px solid #EEE;
}

#right_2 .block .block-wrapper { 
  background: transparent;
}

#right_2 .block ul li {
  color: #EEE;
}

#right_2 .block h3.title {
  background: transparent;
  border-bottom: 1px solid #EEE;
}

#right_2 .block h3.title span {
}

/***  Mission ***/
.mission { 
  color: #222;
  background: transparent; 
  border-bottom: 2px solid #F7F7F7;
}

.mission a:link,
.mission a:visited,
.mission a:hover {
  color: #222;
}

/*** Nodes ***/
div.node {
  border-bottom:1px solid #F7F7F7;
}

/*** Comments ***/
div.comment.odd {
  background: #EEE;
}

div.comment.even {
  background: #F7F7F7;
}

div.comment.comment-mine {
  background: #CCC;
}

/*** Forum ***/
.forum-topic-navigation {
  border-bottom:1px solid #CCC;
  border-top:1px solid #CCC;
}

/*** Book module ***/
.book-navigation .page-links {
  background: #F7F7F7;
}
.book-navigation .menu {
  border-color: #F7F7F7;
}

/*** Blocks ***/
.block h3.title {
  color: #222;
  background: #F7F7F7;
  border-bottom: 1px solid #EEE;
}

.block {
  padding: 0;
  border: 1px solid #EEE;
}

.block ul li {
  color: #EEE;
}

/*** Footer ***/
#footer-message {
  color: #BBB;
}

#adaptivethemes a:link, 
#adaptivethemes a:active, 
#adaptivethemes a:visited {
  color: #BBB;
}

#adaptivethemes a:hover {
  color: #CCC;
}

/*** Tables ***/
thead th     { border-bottom: 2px solid #CCC; }
tr.even,
tr.odd,
tbody, 
tbody th     { border: none; }
tr.odd       { background-color: #F7F7F7; }
tr.info      { background-color: #CCC; }
tr.even      { background-color: #fff; }

tr.odd td.active  { background-color: #EEE; }
tr.even td.active { background-color: #CCC; }

td.region, td.module, td.container {
  border-bottom: none;
  background-color: #F7F7F7;
  color: #222;
}

table.system-status-report th {
  border-bottom: none;
}

/*** Fieldsets ***/
fieldset, fieldset legend {
  border:1px solid #CCC;
}